/* html, body, #map {height: 100%; width: 100%; margin: 0px;}
        .lgndPanel{background: rgba(255, 255, 255, 0.8); padding: 10px; border-radius: 5px;} */
        body {
            font-family: Arial, sans-serif;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 50px;
        }
        
        #dataDropdown:hover {
            background-color: #f0f0f0;
            /* Светло-серый цвет при наведении */
        }
        
        #dataDropdown {
            width: 300px;
            padding: 10px;
            font-size: 16px;
        }
        
        #map {
            margin: 20px 20px 20px;
            height: 80vh;
            width: 85vw;
            border-radius: 5px;
            text-align: center;
        }
        
        #heightInput {
            display: none;
            /* Скрываем поле ввода по умолчанию */
            margin-top: 10px;
        }
        
        #confirmHeightButton {
            display: none;
            /* Скрываем кнопку по умолчанию */
            margin-top: 10px;
        }
        #results {
            margin-top: 10px;
            font-weight: bold;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        .result-item {
            margin-right: 20px;
        }
        